/* defaults */
nav,
header,
footer {
    display: block;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* navbar */
nav{
    margin: 0;
    width: 100%;
}

nav ul{
    background-color: #ddd;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topbar li{
    float: left;
    list-style-type: none;
}

ul.topbar li.rightbar{
    float: right;
}

ul.topbar li a{
    color: #333;
    display: block;
    min-height: 16px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}

ul.topbar li a:hover{
    background-color: #ff0;
}